<table class="table table-striped table-bordered table-hover">
	<tr>
		<th>title1</th>
		<th>title2</th>
		<th>title3</th>
		<th>title4</th>
		<th>title5</th>
	</tr>
	<tr>
		<td>内容1</td>
		<td>内容1</td>
		<td>内容1</td>
		<td>内容1</td>
		<td>内容1</td>
	</tr>
	<tr>
		<td>内容2</td>
		<td>内容2</td>
		<td>内容2</td>
		<td>内容2</td>
		<td>内容2</td>
	</tr>
	<tr>
		<td>内容3</td>
		<td>内容3</td>
		<td>内容4</td>
		<td>内容4</td>
		<td>内容5</td>
	</tr>
	<tr>
		<td>内容6</td>
		<td>内容7</td>
		<td>内容1、8</td>
		<td>内容14</td>
		<td>内容1234</td>
	</tr>
	<tr>
		<td>内容1234</td>
		<td>内容123</td>
		<td>内容1543</td>
		<td>内容1654</td>
		<td>内容12340</td>
	</tr>
</table>